$color-primary: #B28C4D;
$color-accent: #3c3a4e;
$color-third: #3c3a4e;

$color-success: #1CB135;
$color-warning: #FEC609;
$color-danger: #FC363F;

$color-text-default: #474C4C;
$bg-color-gray: #474C4C;
$bg-input: #EFECE5;
