<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <h1>
                ML lighthouse
            </h1>

        </div>
    </div>
    <div class="row" *ngIf="!code">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h4>
                        Copia el APP ID de tu aplicación para conectarla con Lighthouse:
                    </h4>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    <input type="text" [(ngModel)]="appId" style="width:300px"/>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    <button (click)="abrirMLConexion()">CONECTAR APP</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="code">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h4>
                        Ingresa tu client id y client secret para finalizar la conexión
                    </h4>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    Client id: <input type="text" [(ngModel)]="client_id" style="width:300px"/>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    Client secret: <input type="text" [(ngModel)]="client_secret" style="width:300px"/>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    <button (click)="crearCuenta()">FINALIZAR CONEXIÓN</button>
                </div>
            </div>

        </div>
    </div>
    

</div>