<div class="container">

    <div class="row">
        <div class="col-12">
            <h1>
                ML lighthouse
            </h1>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h4>
                        Copia el APP ID de tu aplicación para conectarla con Lighthouse:
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="text" [(ngModel)]="appId"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button (click)="abrirMLConexion()"></button>
                </div>
            </div>

        </div>
    </div>
    

</div>